In [43]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\19364\anaconda3\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\19364\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

In [44]:
import mysql.connector as connector

In [45]:
connection = connector.connect(user = "root", password = "TCUfrogs#32", db = "littlelemon")

In [46]:
cursor = connection.cursor()

In [47]:
show_tables_query = "SHOW tables" 
results=cursor.execute(show_tables_query)

In [48]:
tables = cursor.fetchall()
for table in tables:
    print(table[0])

bookings
contact
customers
delivery
menu
menucontent
menuitems
orders
ordersview
role
staff

In [49]:
customer_query = '''Select
Concat(cs.FirstName, ' ', cs.LastName) as CustomerName,
ct.Address,
ct.City,
ct.State,
ct.ZipCode,
ct.Country,
ct.PhoneNumber,
ct.Email,
Sum(od.TotalCost) as Cost
From customers cs
Join contact ct
  on ct.CustomerID = cs.CustomerID
Join orders od
  on od.CustomerID = cs.CustomerID
Where od.TotalCost > 60.00
Group By
cs.Firstname, 
cs.Lastname, 
ct.Address, 
ct.City, 
ct.State, 
ct.ZipCode, 
ct.Country, 
ct.PhoneNumber, 
ct.Email
'''

In [50]:
cursor.execute(customer_query)

In [51]:
customers = cursor.fetchall()

In [53]:
for customer in customers:
    print("CustomerName: ", customer[0])
    print("Address: ", customer[1])
    print("City: ", customer[2])
    print("State: ", customer[3])
    print("ZipCode: ", customer[4])
    print("Country: ", customer[5])
    print("PhoneNumber: ", customer[6])
    print("Email: ", customer[7])
    print("Cost: ", customer[8])
    print("\n")

CustomerName:  Javante Lockley
Address:  7981 Jesuit
City:  Dallas
State:  Texas
ZipCode:  75104
Country:  United States
PhoneNumber:  214-612-8943
Email:  jav.lock@mail.com
Cost:  204.25


CustomerName:  Zyn Carter
Address:  3216 Sanford Ave
City:  Fort Worth
State:  Texas
ZipCode:  76131
Country:  United States
PhoneNumber:  817-267-1563
Email:  zyn.carter@mail.com
Cost:  229.43


CustomerName:  Tesha Holmes
Address:  9419 Southlea
City:  Houston
State:  Texas
ZipCode:  77013
Country:  United States
PhoneNumber:  281-330-8004
Email:  t.holmes@mail.com
Cost:  342.43

[]